* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(229, 211, 214);
}

.head-text {
    text-align: center;
    padding-top: 30px;
}

.head-text-section {
    padding-top: 200px;
    text-align: center;
}

.start {
    width: 150px;
    height: 50px;
    margin-top: 30px;
    margin-left: 135px;
    border-radius: 10px;
}

.start a {
    text-decoration: none;
    color: green;
}